@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');

@import "tailwindcss";



:root {
  --background: #F7F3EF;
  --foreground: #2B2B2B;
  --font-modern: 'Manrope', sans-serif;
  /* Primary Brand Pink */
  --color-primary: #D41473;
  --color-primary-dark: #B01060;
  --color-primary-light: #F85AA3;

  /* Soft Luxury Pink */
  --color-secondary: #FFC1DA;
  --color-secondary-light: #FFE4EF;

  /* Elegant Accent */
  --color-accent: #FF4F95;

  /* Deep Text / Premium Plum */
  --color-dark: #5B0B35;
  --color-dark-light: #7A1E4D;

  /* Neutral System */
  --color-white: #FFFFFF;
  --color-light: #FFF8FB;
  --color-border: #F3D3E2;
  --color-muted: #A06A84;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);

  --color-secondary: var(--color-secondary);
  --color-secondary-light: var(--color-secondary-light);

  --color-accent: var(--color-accent);

  --color-green: var(--color-green);
  --color-green-light: var(--color-green-light);

  --color-cream: var(--color-cream);
  --color-white: var(--color-white);
  --color-dark: var(--color-dark);

  --font-sans: var(--font-modern);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-modern);
}
.custom-scroll-container::-webkit-scrollbar {
  display: none;
}

.custom-scroll-container {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}


      /* orange: "#ff6700", */
      /* blue: "#011228", */

/* background: #C43737; */








/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */








/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
